/* Import Tailwind CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {

  html,
  body {
    @apply h-full overflow-hidden;
  }

  body {
    @apply bg-[#0F1014] text-white;
  }
}

/* Custom Scrollbar for internal containers if needed */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-[#16171D];
}

::-webkit-scrollbar-thumb {
  @apply bg-[#262933] rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#363a47];
}

/* Hide number input spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}